<% provide :title, t("TRIPS") %>
<div class="row" id="form-row">
  <div class="container">
    <% @trips.each do |trip| %>
      <%= render trip %>
    <% end %>
    <%= paginate @trips, theme: "twitter-bootstrap-4" %>
  </div>
</div>
